.slider-container {
    position: relative;
    width: 100%;
    aspect-ratio: 32 / 9;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.slide img {
    width: 100%;
    aspect-ratio: 32 / 9;
    object-fit: cover;
}

.navigation {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1vh;
}

.radio-input {
    display: none;
}

.radio-label {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background 0.3s ease;
}

.radio-input:checked + .slide {
    opacity: 1;
}

.radio-input:checked ~ .radio-label {
    background: rgba(255, 255, 255, 1);
}

.catalog-container {
    background-color: #0C0C0C;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.img-catalog img {
    width: 420px;
    aspect-ratio: 1 / 1;
}

.catalog-txt {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0.5% 0.75%;
}

.catalog-txt p {
    margin: 0px;
    line-height: 1.2;
    font-size: 24px;
}

.cat {
    color: #8C8C8C;
}

.cat-name {
    color: white;
}

.category-container {
    background-color: #313131;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    
}

.category-block {
    margin: 1vh;
    max-height: 60vb;
    height: 480px;
    background-color: #0C0C0C;
    box-shadow: 0 0 20px rgba(254, 254, 254, 0.2);
}

.img-category img {
    max-width: 32vh;
    margin-top: 120px;
    margin-bottom: 40px;
    padding: 0vh 1.2vh;
    width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}


img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 768px) {
   .button img {
        width: 28px;
        height: 28px;
    }
    
    .menu-ul {
        gap: 20px;
        flex-wrap: wrap;
    }
    
    .slider-container,  .slide img{
        aspect-ratio: 4/3;
    }

    .radio-label {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        transition: background 0.3s ease;
    }
    
    .catalog-container,
    .category-container {
        flex-direction: column;
        gap: 2vh;
        padding: 20px 0;
        
    }
    
    .img-catalog img,
    .img-category img {
        width: 280px;
        max-width: 300px;

    }

    .img-category img {
        margin-top: 6vh;
        margin-bottom: 2vh;
        padding: 0vh 1.2vh;
    }
    
    .category-block {
        height: auto;
        margin: 10px;
        max-height: 90vh;
    }
}

@media (max-width: 480px) {
    .menu {
        height: auto;
        padding: 5px 0;
    }
    
    
    .catalog-txt p {
        font-size: 1.5vh;
    }
    
    .navigation {
        bottom: 1vh;
    }
    
    .radio-label {
        width: 16px;
        height: 16px;
    }
}

