.content {
    margin: 0 240px;
    border: 1px solid #ddd;
    padding: 10px;
  }
   
  .accordion {
    border-top: 1px solid #ddd;
  }
  
  .accordion-item {
    border-bottom: 1px solid #ddd;
  }
  
  .accordion-header {
    background-color: #ffffff00;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-align: left;
    width: 100%;
    text-align: left;
  }
  
  .accordion-content {
    display: none;
    padding: 15px;
    background-color: #f9f9f9;
  }
  
  .accordion-content p {
    margin: 0;
    font-size: 16px;
    color: #555;
  }
  
  /* Форма обратной связи */
  #feedback-form {
    margin-top: 20px;
  }
  
  .form-groupp {
    margin-bottom: 15px;
  }
  
  label {
    color: white;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #ff000000;
    color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #cc0000;
  }
  
  /* Полезные ссылки */
  #useful-links ul {
    list-style: none;
    padding: 0;
  }
  
  #useful-links li {
    margin-bottom: 10px;
  }
  
  #useful-links a {
    color: #007bff;
    text-decoration: none;
  }
  
  #useful-links a:hover {
    text-decoration: underline
  }

  .ul {
    color: white;
  }

  @media (max-width: 768px) {
    .content {
        margin: 0; 
    }

    .accordion-header {
        font-size: 16px;
    }

    .accordion-content p {
        font-size: 14px; 
    }

    label {
        font-size: 14px; 
    }

    input, textarea {
        font-size: 14px; 
    }

    button {
        font-size: 14px; 
    }
}