.content {
  margin: 0 240px;
  border: 1px solid white;
  padding: 10px;
}


#cart-items {
  margin-bottom: 20px;
}

#cart-list {
  list-style: none;
  padding: 0;
  display: flex;
}

#cart-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
}

.cart-item-image {
  width: 100%; 
  max-width: 200px; 
  object-fit: cover;
  margin-right: 0; 
  margin-bottom: 10px;
}

.cart-item-info {
  flex-grow: 1;
  text-align: center; 
}

.cart-item-info p {
  font-size: 16px; 
}

#total-price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center; 
}

.form-groupp {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

input, textarea {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
}

button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%; 
  margin-top: 10px; 
}

@media (max-width: 768px) {
  .content {
      margin: 0 0px;
      margin: 0 0px;
  }

  .cart-item-info p {
      font-size: 14px; 
  }

  input, textarea {
      font-size: 14px; 
  }

  button {
      font-size: 16px; 
  }

  #cart-list {
    display: block;
  }
}