.content {
    margin: 0 240px;
    border: 1px solid white;
}

.product-detail-card {
    display: flex;
}

.product-detail-image {
    width: 400px;
    border: 1px solid white;
}

.product-detail-info {
    margin-left: 20px;
}

.product-detail-info button {
    background-color: #ff000000;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 190px;
    border: 1px solid #ffffff;
}

.down {
    display: flex;
}

#specss {
    border: 1px solid white;
    padding: 10px;
}

.Specs-ul {
    list-style-type: none;
    padding-left: 0;
}

.otz {
    border: 1px solid white;
    padding: 10px;
    width: 100%;
}

.Specs-ul li {
    color: white;
}

@media (max-width: 768px) {
    .content {
        margin: 0 10px; 
    }

    .product-detail-info button {
        width: 100%;
    }


    .product-detail-card {
        flex-direction: column; 
    }

    .product-detail-image {
        width: auto;
    }

    .product-detail-info h1 {
        font-size: 24px; 
        margin-left: 10px;
    }

    .product-detail-info p {
        font-size: 14px; 
        margin-left: 10px;
    }

    .product-detail-info {
        margin-left: 0;
    }

    .product-detail-info .product-detail-price {
        font-size: 18px; 
        
    }

    .down {
        flex-direction: column;
    }

    .otz {
        width: auto;
    }
}